function Main.main 1
push constant 3
call String.new 1
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 22
push constant 0
push constant 30
call UserInterface.init 4
pop local 0
push local 0
call UserInterface.main 1
pop temp 0
push constant 0
return
