function Bullet.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 230
pop this 1
push pointer 0
return
function Bullet.move 0
push argument 0
pop pointer 0
push pointer 0
call Bullet.clear 1
pop temp 0
push this 1
push constant 10
sub
pop this 1
push pointer 0
call Bullet.draw 1
pop temp 0
push constant 0
return
function Bullet.getY 0
push argument 0
pop pointer 0
push this 1
push constant 10
call Math.divide 2
return
function Bullet.getX 0
push argument 0
pop pointer 0
push this 0
return
function Bullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bullet.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 2
add
push this 1
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bullet.clear 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 2
add
push this 1
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
