function SpaceInvaders.new 2
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 1
pop local 1
push constant 11
call Array.new 1
pop this 0
call Tank.new 0
pop this 1
label WHILE_EXP0
push local 1
push constant 11
lt
not
if-goto WHILE_END0
push local 1
push constant 40
call Math.multiply 2
pop local 0
push local 1
push this 0
add
push local 0
push constant 20
push constant 0
not
call Alien.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function SpaceInvaders.run 17
push argument 0
pop pointer 0
push constant 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 4
push constant 10
pop local 5
push constant 0
pop local 11
push constant 0
pop local 7
push constant 0
pop local 12
push constant 0
not
pop local 13
push constant 0
pop local 8
label WHILE_EXP0
push local 13
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 9
push this 1
call Tank.getX 1
pop local 14
push local 9
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Tank.getX 1
call Bullet.new 1
pop local 15
push local 15
call Bullet.move 1
pop temp 0
push constant 0
not
pop local 10
label IF_FALSE0
push local 9
push constant 130
eq
push local 14
push constant 20
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Tank.moveLeft 1
pop temp 0
label IF_FALSE1
push local 9
push constant 132
eq
push local 14
push constant 490
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Tank.moveRight 1
pop temp 0
label IF_FALSE2
push local 10
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 15
call Bullet.getX 1
push local 15
call Bullet.getY 1
call SpaceInvaders.checkCollision 3
pop local 6
push local 6
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 6
push this 0
add
pop pointer 1
push that 0
pop local 16
push local 16
call Alien.kill 1
pop temp 0
push local 7
push constant 1
add
pop local 7
push local 7
push constant 10
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop local 12
push constant 0
pop local 13
label IF_FALSE5
label IF_FALSE4
push local 15
call Bullet.getY 1
push constant 4
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 15
call Bullet.move 1
pop temp 0
label IF_FALSE6
push local 15
call Bullet.getY 1
push constant 6
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 15
call Bullet.clear 1
pop temp 0
push constant 0
pop local 10
push local 15
call Bullet.dispose 1
pop temp 0
label IF_FALSE7
label IF_FALSE3
push local 1
push constant 2
eq
push local 11
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 16
push local 16
call Alien.moveDown 1
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 11
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 1
pop local 0
push constant 0
pop local 11
label IF_FALSE9
push constant 0
pop local 1
push local 8
push constant 1
add
pop local 8
push local 8
push constant 100
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 0
pop local 13
label IF_FALSE10
label IF_FALSE8
push local 1
push constant 2
eq
push local 5
push constant 10
lt
and
push local 11
not
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 16
push local 16
call Alien.moveLeft 1
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 16
push local 16
call Alien.moveLeft 1
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 11
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 1
pop local 0
push local 5
push constant 1
add
pop local 5
label IF_FALSE12
push local 5
push constant 10
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 0
pop local 4
push constant 0
not
pop local 11
label IF_FALSE13
push constant 0
pop local 1
label IF_FALSE11
push local 1
push constant 2
eq
push local 4
push constant 10
lt
and
push local 11
not
and
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 16
push local 16
call Alien.moveRight 1
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 16
push local 16
call Alien.moveRight 1
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 11
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 1
pop local 0
push local 4
push constant 1
add
pop local 4
label IF_FALSE15
push local 4
push constant 10
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push constant 0
pop local 5
push constant 0
not
pop local 11
label IF_FALSE16
push constant 0
pop local 1
label IF_FALSE14
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 12
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push constant 48
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE17
push local 12
not
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push constant 23
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE18
push constant 0
return
function SpaceInvaders.checkCollision 8
push argument 0
pop pointer 0
push constant 1
pop local 1
label WHILE_EXP0
push local 1
push constant 11
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Alien.getX 1
pop local 2
push local 0
call Alien.getY 1
pop local 3
push local 2
push constant 3
sub
pop local 4
push local 2
push constant 28
add
pop local 6
push local 3
push constant 20
sub
pop local 5
push local 3
push constant 16
add
pop local 7
push argument 1
push local 4
gt
push argument 1
push local 6
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
return
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
