function Pair.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Pair.first 0
push argument 0
pop pointer 0
push this 0
return
function Pair.second 0
push argument 0
pop pointer 0
push this 1
return
function Pair.equals 0
push argument 0
pop pointer 0
push this 0
push argument 1
eq
return
function Pair.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
