function Flareon.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 7
call String.new 1
push constant 70
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
pop this 0
push pointer 0
return
function Flareon.getName 0
push argument 0
pop pointer 0
push this 0
return
function Flareon.drawFlareon 0
push argument 0
pop pointer 0
push argument 1
push constant 134
add
push constant 509
gt
push argument 2
push constant 134
add
push constant 253
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 119
push argument 1
add
push constant 12
push argument 2
add
push constant 119
push argument 1
add
push constant 12
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 120
push argument 1
add
push constant 13
push argument 2
add
push constant 120
push argument 1
add
push constant 13
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 121
push argument 1
add
push constant 14
push argument 2
add
push constant 122
push argument 1
add
push constant 14
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 122
push argument 1
add
push constant 15
push argument 2
add
push constant 123
push argument 1
add
push constant 15
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 123
push argument 1
add
push constant 16
push argument 2
add
push constant 123
push argument 1
add
push constant 16
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 123
push argument 1
add
push constant 17
push argument 2
add
push constant 125
push argument 1
add
push constant 17
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 39
push argument 1
add
push constant 18
push argument 2
add
push constant 39
push argument 1
add
push constant 18
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 122
push argument 1
add
push constant 18
push argument 2
add
push constant 125
push argument 1
add
push constant 18
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 39
push argument 1
add
push constant 19
push argument 2
add
push constant 39
push argument 1
add
push constant 19
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 123
push argument 1
add
push constant 19
push argument 2
add
push constant 126
push argument 1
add
push constant 19
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 37
push argument 1
add
push constant 20
push argument 2
add
push constant 39
push argument 1
add
push constant 20
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 124
push argument 1
add
push constant 20
push argument 2
add
push constant 127
push argument 1
add
push constant 20
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 36
push argument 1
add
push constant 21
push argument 2
add
push constant 39
push argument 1
add
push constant 21
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 124
push argument 1
add
push constant 21
push argument 2
add
push constant 127
push argument 1
add
push constant 21
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 35
push argument 1
add
push constant 22
push argument 2
add
push constant 38
push argument 1
add
push constant 22
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 125
push argument 1
add
push constant 22
push argument 2
add
push constant 128
push argument 1
add
push constant 22
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 34
push argument 1
add
push constant 23
push argument 2
add
push constant 38
push argument 1
add
push constant 23
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 125
push argument 1
add
push constant 23
push argument 2
add
push constant 128
push argument 1
add
push constant 23
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 33
push argument 1
add
push constant 24
push argument 2
add
push constant 38
push argument 1
add
push constant 24
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 125
push argument 1
add
push constant 24
push argument 2
add
push constant 129
push argument 1
add
push constant 24
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 32
push argument 1
add
push constant 25
push argument 2
add
push constant 38
push argument 1
add
push constant 25
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 124
push argument 1
add
push constant 25
push argument 2
add
push constant 130
push argument 1
add
push constant 25
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 30
push argument 1
add
push constant 26
push argument 2
add
push constant 38
push argument 1
add
push constant 26
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 124
push argument 1
add
push constant 26
push argument 2
add
push constant 130
push argument 1
add
push constant 26
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 29
push argument 1
add
push constant 27
push argument 2
add
push constant 37
push argument 1
add
push constant 27
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 124
push argument 1
add
push constant 27
push argument 2
add
push constant 130
push argument 1
add
push constant 27
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 28
push argument 1
add
push constant 28
push argument 2
add
push constant 37
push argument 1
add
push constant 28
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 88
push argument 1
add
push constant 28
push argument 2
add
push constant 89
push argument 1
add
push constant 28
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 125
push argument 1
add
push constant 28
push argument 2
add
push constant 131
push argument 1
add
push constant 28
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 27
push argument 1
add
push constant 29
push argument 2
add
push constant 37
push argument 1
add
push constant 29
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 87
push argument 1
add
push constant 29
push argument 2
add
push constant 89
push argument 1
add
push constant 29
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 91
push argument 1
add
push constant 29
push argument 2
add
push constant 91
push argument 1
add
push constant 29
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 125
push argument 1
add
push constant 29
push argument 2
add
push constant 132
push argument 1
add
push constant 29
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 26
push argument 1
add
push constant 30
push argument 2
add
push constant 37
push argument 1
add
push constant 30
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 86
push argument 1
add
push constant 30
push argument 2
add
push constant 91
push argument 1
add
push constant 30
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 124
push argument 1
add
push constant 30
push argument 2
add
push constant 132
push argument 1
add
push constant 30
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 25
push argument 1
add
push constant 31
push argument 2
add
push constant 36
push argument 1
add
push constant 31
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 84
push argument 1
add
push constant 31
push argument 2
add
push constant 90
push argument 1
add
push constant 31
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 123
push argument 1
add
push constant 31
push argument 2
add
push constant 132
push argument 1
add
push constant 31
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 24
push argument 1
add
push constant 32
push argument 2
add
push constant 36
push argument 1
add
push constant 32
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 83
push argument 1
add
push constant 32
push argument 2
add
push constant 90
push argument 1
add
push constant 32
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 123
push argument 1
add
push constant 32
push argument 2
add
push constant 132
push argument 1
add
push constant 32
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 24
push argument 1
add
push constant 33
push argument 2
add
push constant 36
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 83
push argument 1
add
push constant 33
push argument 2
add
push constant 90
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 95
push argument 1
add
push constant 33
push argument 2
add
push constant 95
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 106
push argument 1
add
push constant 33
push argument 2
add
push constant 107
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 123
push argument 1
add
push constant 33
push argument 2
add
push constant 132
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 21
push argument 1
add
push constant 34
push argument 2
add
push constant 21
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 23
push argument 1
add
push constant 34
push argument 2
add
push constant 36
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 83
push argument 1
add
push constant 34
push argument 2
add
push constant 89
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 94
push argument 1
add
push constant 34
push argument 2
add
push constant 94
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 102
push argument 1
add
push constant 34
push argument 2
add
push constant 106
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 123
push argument 1
add
push constant 34
push argument 2
add
push constant 132
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 21
push argument 1
add
push constant 35
push argument 2
add
push constant 36
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 82
push argument 1
add
push constant 35
push argument 2
add
push constant 89
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 93
push argument 1
add
push constant 35
push argument 2
add
push constant 94
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 99
push argument 1
add
push constant 35
push argument 2
add
push constant 106
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 21
push argument 1
add
push constant 36
push argument 2
add
push constant 35
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 76
push argument 1
add
push constant 36
push argument 2
add
push constant 76
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 82
push argument 1
add
push constant 36
push argument 2
add
push constant 89
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 92
push argument 1
add
push constant 36
push argument 2
add
push constant 109
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 122
push argument 1
add
push constant 36
push argument 2
add
push constant 132
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 19
push argument 1
add
push constant 37
push argument 2
add
push constant 35
push argument 1
add
push constant 37
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 74
push argument 1
add
push constant 37
push argument 2
add
push constant 75
push argument 1
add
push constant 37
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 82
push argument 1
add
push constant 37
push argument 2
add
push constant 111
push argument 1
add
push constant 37
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 121
push argument 1
add
push constant 37
push argument 2
add
push constant 132
push argument 1
add
push constant 37
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 18
push argument 1
add
push constant 38
push argument 2
add
push constant 35
push argument 1
add
push constant 38
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 72
push argument 1
add
push constant 38
push argument 2
add
push constant 75
push argument 1
add
push constant 38
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 82
push argument 1
add
push constant 38
push argument 2
add
push constant 114
push argument 1
add
push constant 38
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 119
push argument 1
add
push constant 38
push argument 2
add
push constant 132
push argument 1
add
push constant 38
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 18
push argument 1
add
push constant 39
push argument 2
add
push constant 34
push argument 1
add
push constant 39
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 39
push argument 2
add
push constant 74
push argument 1
add
push constant 39
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 81
push argument 1
add
push constant 39
push argument 2
add
push constant 131
push argument 1
add
push constant 39
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 18
push argument 1
add
push constant 40
push argument 2
add
push constant 34
push argument 1
add
push constant 40
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 68
push argument 1
add
push constant 40
push argument 2
add
push constant 73
push argument 1
add
push constant 40
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 81
push argument 1
add
push constant 40
push argument 2
add
push constant 131
push argument 1
add
push constant 40
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 18
push argument 1
add
push constant 41
push argument 2
add
push constant 33
push argument 1
add
push constant 41
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 66
push argument 1
add
push constant 41
push argument 2
add
push constant 72
push argument 1
add
push constant 41
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 80
push argument 1
add
push constant 41
push argument 2
add
push constant 130
push argument 1
add
push constant 41
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 17
push argument 1
add
push constant 42
push argument 2
add
push constant 33
push argument 1
add
push constant 42
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 64
push argument 1
add
push constant 42
push argument 2
add
push constant 72
push argument 1
add
push constant 42
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 76
push argument 1
add
push constant 42
push argument 2
add
push constant 76
push argument 1
add
push constant 42
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 80
push argument 1
add
push constant 42
push argument 2
add
push constant 130
push argument 1
add
push constant 42
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 17
push argument 1
add
push constant 43
push argument 2
add
push constant 33
push argument 1
add
push constant 43
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 62
push argument 1
add
push constant 43
push argument 2
add
push constant 71
push argument 1
add
push constant 43
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 76
push argument 1
add
push constant 43
push argument 2
add
push constant 76
push argument 1
add
push constant 43
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 79
push argument 1
add
push constant 43
push argument 2
add
push constant 129
push argument 1
add
push constant 43
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 16
push argument 1
add
push constant 44
push argument 2
add
push constant 32
push argument 1
add
push constant 44
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 58
push argument 1
add
push constant 44
push argument 2
add
push constant 70
push argument 1
add
push constant 44
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 76
push argument 1
add
push constant 44
push argument 2
add
push constant 76
push argument 1
add
push constant 44
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 78
push argument 1
add
push constant 44
push argument 2
add
push constant 128
push argument 1
add
push constant 44
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 16
push argument 1
add
push constant 45
push argument 2
add
push constant 32
push argument 1
add
push constant 45
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 56
push argument 1
add
push constant 45
push argument 2
add
push constant 70
push argument 1
add
push constant 45
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 73
push argument 1
add
push constant 45
push argument 2
add
push constant 128
push argument 1
add
push constant 45
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 16
push argument 1
add
push constant 46
push argument 2
add
push constant 31
push argument 1
add
push constant 46
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 55
push argument 1
add
push constant 46
push argument 2
add
push constant 69
push argument 1
add
push constant 46
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 73
push argument 1
add
push constant 46
push argument 2
add
push constant 127
push argument 1
add
push constant 46
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 15
push argument 1
add
push constant 47
push argument 2
add
push constant 31
push argument 1
add
push constant 47
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 54
push argument 1
add
push constant 47
push argument 2
add
push constant 68
push argument 1
add
push constant 47
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 73
push argument 1
add
push constant 47
push argument 2
add
push constant 128
push argument 1
add
push constant 47
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 15
push argument 1
add
push constant 48
push argument 2
add
push constant 32
push argument 1
add
push constant 48
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 48
push argument 1
add
push constant 48
push argument 2
add
push constant 67
push argument 1
add
push constant 48
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 72
push argument 1
add
push constant 48
push argument 2
add
push constant 128
push argument 1
add
push constant 48
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 15
push argument 1
add
push constant 49
push argument 2
add
push constant 32
push argument 1
add
push constant 49
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 46
push argument 1
add
push constant 49
push argument 2
add
push constant 67
push argument 1
add
push constant 49
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 72
push argument 1
add
push constant 49
push argument 2
add
push constant 128
push argument 1
add
push constant 49
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 15
push argument 1
add
push constant 50
push argument 2
add
push constant 32
push argument 1
add
push constant 50
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 45
push argument 1
add
push constant 50
push argument 2
add
push constant 66
push argument 1
add
push constant 50
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 72
push argument 1
add
push constant 50
push argument 2
add
push constant 128
push argument 1
add
push constant 50
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 14
push argument 1
add
push constant 51
push argument 2
add
push constant 32
push argument 1
add
push constant 51
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 44
push argument 1
add
push constant 51
push argument 2
add
push constant 66
push argument 1
add
push constant 51
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 71
push argument 1
add
push constant 51
push argument 2
add
push constant 127
push argument 1
add
push constant 51
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 14
push argument 1
add
push constant 52
push argument 2
add
push constant 37
push argument 1
add
push constant 52
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 43
push argument 1
add
push constant 52
push argument 2
add
push constant 65
push argument 1
add
push constant 52
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 71
push argument 1
add
push constant 52
push argument 2
add
push constant 126
push argument 1
add
push constant 52
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 130
push argument 1
add
push constant 52
push argument 2
add
push constant 130
push argument 1
add
push constant 52
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 53
push argument 2
add
push constant 37
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 40
push argument 1
add
push constant 53
push argument 2
add
push constant 64
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 53
push argument 2
add
push constant 67
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 53
push argument 2
add
push constant 125
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 129
push argument 1
add
push constant 53
push argument 2
add
push constant 129
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 54
push argument 2
add
push constant 63
push argument 1
add
push constant 54
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 54
push argument 2
add
push constant 128
push argument 1
add
push constant 54
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 11
push argument 1
add
push constant 55
push argument 2
add
push constant 63
push argument 1
add
push constant 55
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 55
push argument 2
add
push constant 127
push argument 1
add
push constant 55
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 10
push argument 1
add
push constant 56
push argument 2
add
push constant 62
push argument 1
add
push constant 56
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 56
push argument 2
add
push constant 127
push argument 1
add
push constant 56
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 9
push argument 1
add
push constant 57
push argument 2
add
push constant 62
push argument 1
add
push constant 57
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 57
push argument 2
add
push constant 126
push argument 1
add
push constant 57
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 8
push argument 1
add
push constant 58
push argument 2
add
push constant 61
push argument 1
add
push constant 58
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 58
push argument 2
add
push constant 126
push argument 1
add
push constant 58
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 8
push argument 1
add
push constant 59
push argument 2
add
push constant 60
push argument 1
add
push constant 59
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 59
push argument 2
add
push constant 125
push argument 1
add
push constant 59
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 60
push argument 2
add
push constant 60
push argument 1
add
push constant 60
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 60
push argument 2
add
push constant 125
push argument 1
add
push constant 60
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 61
push argument 2
add
push constant 59
push argument 1
add
push constant 61
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 61
push argument 2
add
push constant 124
push argument 1
add
push constant 61
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 62
push argument 2
add
push constant 59
push argument 1
add
push constant 62
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 62
push argument 2
add
push constant 124
push argument 1
add
push constant 62
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 63
push argument 2
add
push constant 60
push argument 1
add
push constant 63
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 63
push argument 2
add
push constant 124
push argument 1
add
push constant 63
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 64
push argument 2
add
push constant 61
push argument 1
add
push constant 64
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 66
push argument 1
add
push constant 64
push argument 2
add
push constant 124
push argument 1
add
push constant 64
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 65
push argument 2
add
push constant 124
push argument 1
add
push constant 65
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 66
push argument 2
add
push constant 123
push argument 1
add
push constant 66
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 67
push argument 2
add
push constant 123
push argument 1
add
push constant 67
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 68
push argument 2
add
push constant 123
push argument 1
add
push constant 68
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 126
push argument 1
add
push constant 68
push argument 2
add
push constant 126
push argument 1
add
push constant 68
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 69
push argument 2
add
push constant 123
push argument 1
add
push constant 69
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 126
push argument 1
add
push constant 69
push argument 2
add
push constant 127
push argument 1
add
push constant 69
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 70
push argument 2
add
push constant 127
push argument 1
add
push constant 70
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 71
push argument 2
add
push constant 126
push argument 1
add
push constant 71
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 72
push argument 2
add
push constant 125
push argument 1
add
push constant 72
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 73
push argument 2
add
push constant 125
push argument 1
add
push constant 73
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 74
push argument 2
add
push constant 124
push argument 1
add
push constant 74
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 75
push argument 2
add
push constant 124
push argument 1
add
push constant 75
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 76
push argument 2
add
push constant 124
push argument 1
add
push constant 76
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 77
push argument 2
add
push constant 123
push argument 1
add
push constant 77
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 78
push argument 2
add
push constant 123
push argument 1
add
push constant 78
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 79
push argument 2
add
push constant 122
push argument 1
add
push constant 79
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 80
push argument 2
add
push constant 122
push argument 1
add
push constant 80
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 81
push argument 2
add
push constant 121
push argument 1
add
push constant 81
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 82
push argument 2
add
push constant 121
push argument 1
add
push constant 82
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 5
push argument 1
add
push constant 83
push argument 2
add
push constant 119
push argument 1
add
push constant 83
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 4
push argument 1
add
push constant 84
push argument 2
add
push constant 117
push argument 1
add
push constant 84
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 4
push argument 1
add
push constant 85
push argument 2
add
push constant 115
push argument 1
add
push constant 85
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 5
push argument 1
add
push constant 86
push argument 2
add
push constant 90
push argument 1
add
push constant 86
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 92
push argument 1
add
push constant 86
push argument 2
add
push constant 114
push argument 1
add
push constant 86
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 87
push argument 2
add
push constant 90
push argument 1
add
push constant 87
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 94
push argument 1
add
push constant 87
push argument 2
add
push constant 113
push argument 1
add
push constant 87
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 88
push argument 2
add
push constant 91
push argument 1
add
push constant 88
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 95
push argument 1
add
push constant 88
push argument 2
add
push constant 114
push argument 1
add
push constant 88
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 9
push argument 1
add
push constant 89
push argument 2
add
push constant 92
push argument 1
add
push constant 89
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 97
push argument 1
add
push constant 89
push argument 2
add
push constant 101
push argument 1
add
push constant 89
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 104
push argument 1
add
push constant 89
push argument 2
add
push constant 114
push argument 1
add
push constant 89
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 11
push argument 1
add
push constant 90
push argument 2
add
push constant 93
push argument 1
add
push constant 90
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 99
push argument 1
add
push constant 90
push argument 2
add
push constant 100
push argument 1
add
push constant 90
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 12
push argument 1
add
push constant 91
push argument 2
add
push constant 96
push argument 1
add
push constant 91
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 101
push argument 1
add
push constant 91
push argument 2
add
push constant 101
push argument 1
add
push constant 91
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 12
push argument 1
add
push constant 92
push argument 2
add
push constant 97
push argument 1
add
push constant 92
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 93
push argument 2
add
push constant 98
push argument 1
add
push constant 93
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 94
push argument 2
add
push constant 98
push argument 1
add
push constant 94
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 95
push argument 2
add
push constant 98
push argument 1
add
push constant 95
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 96
push argument 2
add
push constant 70
push argument 1
add
push constant 96
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 73
push argument 1
add
push constant 96
push argument 2
add
push constant 98
push argument 1
add
push constant 96
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 97
push argument 2
add
push constant 70
push argument 1
add
push constant 97
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 74
push argument 1
add
push constant 97
push argument 2
add
push constant 99
push argument 1
add
push constant 97
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 98
push argument 2
add
push constant 69
push argument 1
add
push constant 98
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 76
push argument 1
add
push constant 98
push argument 2
add
push constant 99
push argument 1
add
push constant 98
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 99
push argument 2
add
push constant 69
push argument 1
add
push constant 99
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 77
push argument 1
add
push constant 99
push argument 2
add
push constant 99
push argument 1
add
push constant 99
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 100
push argument 2
add
push constant 69
push argument 1
add
push constant 100
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 79
push argument 1
add
push constant 100
push argument 2
add
push constant 99
push argument 1
add
push constant 100
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 14
push argument 1
add
push constant 101
push argument 2
add
push constant 69
push argument 1
add
push constant 101
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 82
push argument 1
add
push constant 101
push argument 2
add
push constant 99
push argument 1
add
push constant 101
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 14
push argument 1
add
push constant 102
push argument 2
add
push constant 69
push argument 1
add
push constant 102
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 84
push argument 1
add
push constant 102
push argument 2
add
push constant 99
push argument 1
add
push constant 102
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 14
push argument 1
add
push constant 103
push argument 2
add
push constant 69
push argument 1
add
push constant 103
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 86
push argument 1
add
push constant 103
push argument 2
add
push constant 100
push argument 1
add
push constant 103
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 13
push argument 1
add
push constant 104
push argument 2
add
push constant 68
push argument 1
add
push constant 104
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 88
push argument 1
add
push constant 104
push argument 2
add
push constant 100
push argument 1
add
push constant 104
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 12
push argument 1
add
push constant 105
push argument 2
add
push constant 67
push argument 1
add
push constant 105
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 89
push argument 1
add
push constant 105
push argument 2
add
push constant 100
push argument 1
add
push constant 105
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 11
push argument 1
add
push constant 106
push argument 2
add
push constant 66
push argument 1
add
push constant 106
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 89
push argument 1
add
push constant 106
push argument 2
add
push constant 100
push argument 1
add
push constant 106
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 10
push argument 1
add
push constant 107
push argument 2
add
push constant 64
push argument 1
add
push constant 107
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 89
push argument 1
add
push constant 107
push argument 2
add
push constant 100
push argument 1
add
push constant 107
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 10
push argument 1
add
push constant 108
push argument 2
add
push constant 63
push argument 1
add
push constant 108
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 89
push argument 1
add
push constant 108
push argument 2
add
push constant 100
push argument 1
add
push constant 108
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 9
push argument 1
add
push constant 109
push argument 2
add
push constant 62
push argument 1
add
push constant 109
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 89
push argument 1
add
push constant 109
push argument 2
add
push constant 100
push argument 1
add
push constant 109
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 8
push argument 1
add
push constant 110
push argument 2
add
push constant 62
push argument 1
add
push constant 110
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 89
push argument 1
add
push constant 110
push argument 2
add
push constant 100
push argument 1
add
push constant 110
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 7
push argument 1
add
push constant 111
push argument 2
add
push constant 27
push argument 1
add
push constant 111
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 29
push argument 1
add
push constant 111
push argument 2
add
push constant 61
push argument 1
add
push constant 111
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 88
push argument 1
add
push constant 111
push argument 2
add
push constant 100
push argument 1
add
push constant 111
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 112
push argument 2
add
push constant 26
push argument 1
add
push constant 112
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 30
push argument 1
add
push constant 112
push argument 2
add
push constant 61
push argument 1
add
push constant 112
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 88
push argument 1
add
push constant 112
push argument 2
add
push constant 100
push argument 1
add
push constant 112
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 5
push argument 1
add
push constant 113
push argument 2
add
push constant 24
push argument 1
add
push constant 113
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 32
push argument 1
add
push constant 113
push argument 2
add
push constant 41
push argument 1
add
push constant 113
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 49
push argument 1
add
push constant 113
push argument 2
add
push constant 61
push argument 1
add
push constant 113
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 88
push argument 1
add
push constant 113
push argument 2
add
push constant 100
push argument 1
add
push constant 113
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 4
push argument 1
add
push constant 114
push argument 2
add
push constant 23
push argument 1
add
push constant 114
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 33
push argument 1
add
push constant 114
push argument 2
add
push constant 39
push argument 1
add
push constant 114
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 48
push argument 1
add
push constant 114
push argument 2
add
push constant 60
push argument 1
add
push constant 114
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 89
push argument 1
add
push constant 114
push argument 2
add
push constant 99
push argument 1
add
push constant 114
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 3
push argument 1
add
push constant 115
push argument 2
add
push constant 21
push argument 1
add
push constant 115
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 48
push argument 1
add
push constant 115
push argument 2
add
push constant 60
push argument 1
add
push constant 115
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 91
push argument 1
add
push constant 115
push argument 2
add
push constant 98
push argument 1
add
push constant 115
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 2
push argument 1
add
push constant 116
push argument 2
add
push constant 20
push argument 1
add
push constant 116
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 48
push argument 1
add
push constant 116
push argument 2
add
push constant 60
push argument 1
add
push constant 116
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 1
push argument 1
add
push constant 117
push argument 2
add
push constant 19
push argument 1
add
push constant 117
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 46
push argument 1
add
push constant 117
push argument 2
add
push constant 59
push argument 1
add
push constant 117
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 118
push argument 2
add
push constant 18
push argument 1
add
push constant 118
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 45
push argument 1
add
push constant 118
push argument 2
add
push constant 59
push argument 1
add
push constant 118
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 1
push argument 1
add
push constant 119
push argument 2
add
push constant 16
push argument 1
add
push constant 119
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 44
push argument 1
add
push constant 119
push argument 2
add
push constant 58
push argument 1
add
push constant 119
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 2
push argument 1
add
push constant 120
push argument 2
add
push constant 15
push argument 1
add
push constant 120
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 45
push argument 1
add
push constant 120
push argument 2
add
push constant 57
push argument 1
add
push constant 120
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 4
push argument 1
add
push constant 121
push argument 2
add
push constant 14
push argument 1
add
push constant 121
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 47
push argument 1
add
push constant 121
push argument 2
add
push constant 55
push argument 1
add
push constant 121
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 6
push argument 1
add
push constant 122
push argument 2
add
push constant 12
push argument 1
add
push constant 122
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 8
push argument 1
add
push constant 123
push argument 2
add
push constant 10
push argument 1
add
push constant 123
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push argument 1
add
push constant 12
push argument 2
add
push constant 118
push argument 1
add
push constant 12
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 13
push argument 2
add
push constant 119
push argument 1
add
push constant 13
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 14
push argument 2
add
push constant 120
push argument 1
add
push constant 14
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 15
push argument 2
add
push constant 121
push argument 1
add
push constant 15
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 16
push argument 2
add
push constant 122
push argument 1
add
push constant 16
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 17
push argument 2
add
push constant 122
push argument 1
add
push constant 17
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 18
push argument 2
add
push constant 38
push argument 1
add
push constant 18
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 40
push argument 1
add
push constant 18
push argument 2
add
push constant 121
push argument 1
add
push constant 18
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 19
push argument 2
add
push constant 38
push argument 1
add
push constant 19
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 40
push argument 1
add
push constant 19
push argument 2
add
push constant 122
push argument 1
add
push constant 19
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 20
push argument 2
add
push constant 36
push argument 1
add
push constant 20
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 40
push argument 1
add
push constant 20
push argument 2
add
push constant 123
push argument 1
add
push constant 20
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 21
push argument 2
add
push constant 35
push argument 1
add
push constant 21
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 40
push argument 1
add
push constant 21
push argument 2
add
push constant 123
push argument 1
add
push constant 21
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 22
push argument 2
add
push constant 34
push argument 1
add
push constant 22
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 39
push argument 1
add
push constant 22
push argument 2
add
push constant 124
push argument 1
add
push constant 22
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 23
push argument 2
add
push constant 33
push argument 1
add
push constant 23
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 39
push argument 1
add
push constant 23
push argument 2
add
push constant 124
push argument 1
add
push constant 23
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 24
push argument 2
add
push constant 32
push argument 1
add
push constant 24
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 39
push argument 1
add
push constant 24
push argument 2
add
push constant 124
push argument 1
add
push constant 24
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 25
push argument 2
add
push constant 31
push argument 1
add
push constant 25
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 39
push argument 1
add
push constant 25
push argument 2
add
push constant 123
push argument 1
add
push constant 25
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 26
push argument 2
add
push constant 29
push argument 1
add
push constant 26
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 39
push argument 1
add
push constant 26
push argument 2
add
push constant 123
push argument 1
add
push constant 26
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 27
push argument 2
add
push constant 28
push argument 1
add
push constant 27
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 38
push argument 1
add
push constant 27
push argument 2
add
push constant 123
push argument 1
add
push constant 27
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 28
push argument 2
add
push constant 27
push argument 1
add
push constant 28
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 38
push argument 1
add
push constant 28
push argument 2
add
push constant 87
push argument 1
add
push constant 28
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 90
push argument 1
add
push constant 28
push argument 2
add
push constant 124
push argument 1
add
push constant 28
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 29
push argument 2
add
push constant 26
push argument 1
add
push constant 29
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 38
push argument 1
add
push constant 29
push argument 2
add
push constant 86
push argument 1
add
push constant 29
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 90
push argument 1
add
push constant 29
push argument 2
add
push constant 90
push argument 1
add
push constant 29
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 92
push argument 1
add
push constant 29
push argument 2
add
push constant 124
push argument 1
add
push constant 29
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 30
push argument 2
add
push constant 25
push argument 1
add
push constant 30
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 38
push argument 1
add
push constant 30
push argument 2
add
push constant 85
push argument 1
add
push constant 30
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 92
push argument 1
add
push constant 30
push argument 2
add
push constant 123
push argument 1
add
push constant 30
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 31
push argument 2
add
push constant 24
push argument 1
add
push constant 31
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 37
push argument 1
add
push constant 31
push argument 2
add
push constant 83
push argument 1
add
push constant 31
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 91
push argument 1
add
push constant 31
push argument 2
add
push constant 122
push argument 1
add
push constant 31
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 32
push argument 2
add
push constant 23
push argument 1
add
push constant 32
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 37
push argument 1
add
push constant 32
push argument 2
add
push constant 82
push argument 1
add
push constant 32
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 91
push argument 1
add
push constant 32
push argument 2
add
push constant 122
push argument 1
add
push constant 32
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 33
push argument 2
add
push constant 23
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 37
push argument 1
add
push constant 33
push argument 2
add
push constant 82
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 91
push argument 1
add
push constant 33
push argument 2
add
push constant 94
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 96
push argument 1
add
push constant 33
push argument 2
add
push constant 105
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 108
push argument 1
add
push constant 33
push argument 2
add
push constant 122
push argument 1
add
push constant 33
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 34
push argument 2
add
push constant 20
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 22
push argument 1
add
push constant 34
push argument 2
add
push constant 22
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 37
push argument 1
add
push constant 34
push argument 2
add
push constant 82
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 90
push argument 1
add
push constant 34
push argument 2
add
push constant 93
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 95
push argument 1
add
push constant 34
push argument 2
add
push constant 101
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 107
push argument 1
add
push constant 34
push argument 2
add
push constant 122
push argument 1
add
push constant 34
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 35
push argument 2
add
push constant 20
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 37
push argument 1
add
push constant 35
push argument 2
add
push constant 81
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 90
push argument 1
add
push constant 35
push argument 2
add
push constant 92
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 95
push argument 1
add
push constant 35
push argument 2
add
push constant 98
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 107
push argument 1
add
push constant 35
push argument 2
add
push constant 121
push argument 1
add
push constant 35
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 36
push argument 2
add
push constant 20
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 36
push argument 1
add
push constant 36
push argument 2
add
push constant 75
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 77
push argument 1
add
push constant 36
push argument 2
add
push constant 81
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 90
push argument 1
add
push constant 36
push argument 2
add
push constant 91
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 110
push argument 1
add
push constant 36
push argument 2
add
push constant 121
push argument 1
add
push constant 36
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 37
push argument 2
add
push constant 18
push argument 1
add
push constant 37
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 36
push argument 1
add
push constant 37
push argument 2
add
push constant 73
push argument 1
add
push constant 37
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 76
push argument 1
add
push constant 37
push argument 2
add
push constant 81
push argument 1
add
push constant 37
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 112
push argument 1
add
push constant 37
push argument 2
add
push constant 120
push argument 1
add
push constant 37
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 38
push argument 2
add
push constant 17
push argument 1
add
push constant 38
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 36
push argument 1
add
push constant 38
push argument 2
add
push constant 71
push argument 1
add
push constant 38
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 76
push argument 1
add
push constant 38
push argument 2
add
push constant 81
push argument 1
add
push constant 38
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 115
push argument 1
add
push constant 38
push argument 2
add
push constant 118
push argument 1
add
push constant 38
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 39
push argument 2
add
push constant 17
push argument 1
add
push constant 39
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 35
push argument 1
add
push constant 39
push argument 2
add
push constant 69
push argument 1
add
push constant 39
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 75
push argument 1
add
push constant 39
push argument 2
add
push constant 80
push argument 1
add
push constant 39
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 40
push argument 2
add
push constant 17
push argument 1
add
push constant 40
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 35
push argument 1
add
push constant 40
push argument 2
add
push constant 67
push argument 1
add
push constant 40
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 74
push argument 1
add
push constant 40
push argument 2
add
push constant 80
push argument 1
add
push constant 40
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 41
push argument 2
add
push constant 17
push argument 1
add
push constant 41
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 34
push argument 1
add
push constant 41
push argument 2
add
push constant 65
push argument 1
add
push constant 41
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 73
push argument 1
add
push constant 41
push argument 2
add
push constant 79
push argument 1
add
push constant 41
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 42
push argument 2
add
push constant 16
push argument 1
add
push constant 42
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 34
push argument 1
add
push constant 42
push argument 2
add
push constant 63
push argument 1
add
push constant 42
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 73
push argument 1
add
push constant 42
push argument 2
add
push constant 75
push argument 1
add
push constant 42
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 77
push argument 1
add
push constant 42
push argument 2
add
push constant 79
push argument 1
add
push constant 42
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 43
push argument 2
add
push constant 16
push argument 1
add
push constant 43
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 34
push argument 1
add
push constant 43
push argument 2
add
push constant 61
push argument 1
add
push constant 43
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 72
push argument 1
add
push constant 43
push argument 2
add
push constant 75
push argument 1
add
push constant 43
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 77
push argument 1
add
push constant 43
push argument 2
add
push constant 78
push argument 1
add
push constant 43
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 44
push argument 2
add
push constant 15
push argument 1
add
push constant 44
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 33
push argument 1
add
push constant 44
push argument 2
add
push constant 57
push argument 1
add
push constant 44
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 71
push argument 1
add
push constant 44
push argument 2
add
push constant 75
push argument 1
add
push constant 44
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 77
push argument 1
add
push constant 44
push argument 2
add
push constant 77
push argument 1
add
push constant 44
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 45
push argument 2
add
push constant 15
push argument 1
add
push constant 45
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 33
push argument 1
add
push constant 45
push argument 2
add
push constant 55
push argument 1
add
push constant 45
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 71
push argument 1
add
push constant 45
push argument 2
add
push constant 72
push argument 1
add
push constant 45
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 46
push argument 2
add
push constant 15
push argument 1
add
push constant 46
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 32
push argument 1
add
push constant 46
push argument 2
add
push constant 54
push argument 1
add
push constant 46
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 46
push argument 2
add
push constant 72
push argument 1
add
push constant 46
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 47
push argument 2
add
push constant 14
push argument 1
add
push constant 47
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 32
push argument 1
add
push constant 47
push argument 2
add
push constant 53
push argument 1
add
push constant 47
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 69
push argument 1
add
push constant 47
push argument 2
add
push constant 72
push argument 1
add
push constant 47
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 48
push argument 2
add
push constant 14
push argument 1
add
push constant 48
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 33
push argument 1
add
push constant 48
push argument 2
add
push constant 47
push argument 1
add
push constant 48
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 68
push argument 1
add
push constant 48
push argument 2
add
push constant 71
push argument 1
add
push constant 48
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 49
push argument 2
add
push constant 14
push argument 1
add
push constant 49
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 33
push argument 1
add
push constant 49
push argument 2
add
push constant 45
push argument 1
add
push constant 49
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 68
push argument 1
add
push constant 49
push argument 2
add
push constant 71
push argument 1
add
push constant 49
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 50
push argument 2
add
push constant 14
push argument 1
add
push constant 50
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 33
push argument 1
add
push constant 50
push argument 2
add
push constant 44
push argument 1
add
push constant 50
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 50
push argument 2
add
push constant 71
push argument 1
add
push constant 50
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 51
push argument 2
add
push constant 13
push argument 1
add
push constant 51
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 33
push argument 1
add
push constant 51
push argument 2
add
push constant 43
push argument 1
add
push constant 51
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 51
push argument 2
add
push constant 70
push argument 1
add
push constant 51
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 52
push argument 2
add
push constant 13
push argument 1
add
push constant 52
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 38
push argument 1
add
push constant 52
push argument 2
add
push constant 42
push argument 1
add
push constant 52
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 66
push argument 1
add
push constant 52
push argument 2
add
push constant 70
push argument 1
add
push constant 52
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 127
push argument 1
add
push constant 52
push argument 2
add
push constant 129
push argument 1
add
push constant 52
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 53
push argument 2
add
push constant 12
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 38
push argument 1
add
push constant 53
push argument 2
add
push constant 39
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 65
push argument 1
add
push constant 53
push argument 2
add
push constant 66
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 68
push argument 1
add
push constant 53
push argument 2
add
push constant 69
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 126
push argument 1
add
push constant 53
push argument 2
add
push constant 128
push argument 1
add
push constant 53
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 54
push argument 2
add
push constant 12
push argument 1
add
push constant 54
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 64
push argument 1
add
push constant 54
push argument 2
add
push constant 66
push argument 1
add
push constant 54
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 55
push argument 2
add
push constant 10
push argument 1
add
push constant 55
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 64
push argument 1
add
push constant 55
push argument 2
add
push constant 66
push argument 1
add
push constant 55
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 56
push argument 2
add
push constant 9
push argument 1
add
push constant 56
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 63
push argument 1
add
push constant 56
push argument 2
add
push constant 66
push argument 1
add
push constant 56
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 57
push argument 2
add
push constant 8
push argument 1
add
push constant 57
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 63
push argument 1
add
push constant 57
push argument 2
add
push constant 66
push argument 1
add
push constant 57
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 58
push argument 2
add
push constant 7
push argument 1
add
push constant 58
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 62
push argument 1
add
push constant 58
push argument 2
add
push constant 66
push argument 1
add
push constant 58
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 59
push argument 2
add
push constant 7
push argument 1
add
push constant 59
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 61
push argument 1
add
push constant 59
push argument 2
add
push constant 66
push argument 1
add
push constant 59
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 60
push argument 2
add
push constant 6
push argument 1
add
push constant 60
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 61
push argument 1
add
push constant 60
push argument 2
add
push constant 66
push argument 1
add
push constant 60
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 61
push argument 2
add
push constant 6
push argument 1
add
push constant 61
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 60
push argument 1
add
push constant 61
push argument 2
add
push constant 66
push argument 1
add
push constant 61
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 62
push argument 2
add
push constant 5
push argument 1
add
push constant 62
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 60
push argument 1
add
push constant 62
push argument 2
add
push constant 66
push argument 1
add
push constant 62
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 63
push argument 2
add
push constant 5
push argument 1
add
push constant 63
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 61
push argument 1
add
push constant 63
push argument 2
add
push constant 66
push argument 1
add
push constant 63
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 64
push argument 2
add
push constant 5
push argument 1
add
push constant 64
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 62
push argument 1
add
push constant 64
push argument 2
add
push constant 65
push argument 1
add
push constant 64
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 65
push argument 2
add
push constant 5
push argument 1
add
push constant 65
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 66
push argument 2
add
push constant 5
push argument 1
add
push constant 66
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 67
push argument 2
add
push constant 6
push argument 1
add
push constant 67
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 68
push argument 2
add
push constant 6
push argument 1
add
push constant 68
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 124
push argument 1
add
push constant 68
push argument 2
add
push constant 125
push argument 1
add
push constant 68
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 69
push argument 2
add
push constant 6
push argument 1
add
push constant 69
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 124
push argument 1
add
push constant 69
push argument 2
add
push constant 125
push argument 1
add
push constant 69
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 70
push argument 2
add
push constant 6
push argument 1
add
push constant 70
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 71
push argument 2
add
push constant 6
push argument 1
add
push constant 71
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 72
push argument 2
add
push constant 5
push argument 1
add
push constant 72
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 73
push argument 2
add
push constant 5
push argument 1
add
push constant 73
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 74
push argument 2
add
push constant 5
push argument 1
add
push constant 74
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 75
push argument 2
add
push constant 5
push argument 1
add
push constant 75
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 76
push argument 2
add
push constant 6
push argument 1
add
push constant 76
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 77
push argument 2
add
push constant 6
push argument 1
add
push constant 77
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 78
push argument 2
add
push constant 6
push argument 1
add
push constant 78
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 79
push argument 2
add
push constant 5
push argument 1
add
push constant 79
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 80
push argument 2
add
push constant 5
push argument 1
add
push constant 80
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 81
push argument 2
add
push constant 5
push argument 1
add
push constant 81
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 82
push argument 2
add
push constant 5
push argument 1
add
push constant 82
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 83
push argument 2
add
push constant 4
push argument 1
add
push constant 83
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 84
push argument 2
add
push constant 3
push argument 1
add
push constant 84
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 85
push argument 2
add
push constant 3
push argument 1
add
push constant 85
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 86
push argument 2
add
push constant 4
push argument 1
add
push constant 86
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 91
push argument 1
add
push constant 86
push argument 2
add
push constant 91
push argument 1
add
push constant 86
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 87
push argument 2
add
push constant 5
push argument 1
add
push constant 87
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 91
push argument 1
add
push constant 87
push argument 2
add
push constant 93
push argument 1
add
push constant 87
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 88
push argument 2
add
push constant 6
push argument 1
add
push constant 88
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 92
push argument 1
add
push constant 88
push argument 2
add
push constant 94
push argument 1
add
push constant 88
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 89
push argument 2
add
push constant 8
push argument 1
add
push constant 89
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 93
push argument 1
add
push constant 89
push argument 2
add
push constant 96
push argument 1
add
push constant 89
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 102
push argument 1
add
push constant 89
push argument 2
add
push constant 103
push argument 1
add
push constant 89
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 90
push argument 2
add
push constant 10
push argument 1
add
push constant 90
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 94
push argument 1
add
push constant 90
push argument 2
add
push constant 98
push argument 1
add
push constant 90
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 91
push argument 2
add
push constant 11
push argument 1
add
push constant 91
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 97
push argument 1
add
push constant 91
push argument 2
add
push constant 100
push argument 1
add
push constant 91
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 92
push argument 2
add
push constant 11
push argument 1
add
push constant 92
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 93
push argument 2
add
push constant 12
push argument 1
add
push constant 93
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 94
push argument 2
add
push constant 12
push argument 1
add
push constant 94
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 95
push argument 2
add
push constant 12
push argument 1
add
push constant 95
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 96
push argument 2
add
push constant 12
push argument 1
add
push constant 96
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 71
push argument 1
add
push constant 96
push argument 2
add
push constant 72
push argument 1
add
push constant 96
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 97
push argument 2
add
push constant 12
push argument 1
add
push constant 97
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 71
push argument 1
add
push constant 97
push argument 2
add
push constant 73
push argument 1
add
push constant 97
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 98
push argument 2
add
push constant 12
push argument 1
add
push constant 98
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 98
push argument 2
add
push constant 75
push argument 1
add
push constant 98
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 99
push argument 2
add
push constant 12
push argument 1
add
push constant 99
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 99
push argument 2
add
push constant 76
push argument 1
add
push constant 99
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 100
push argument 2
add
push constant 12
push argument 1
add
push constant 100
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 100
push argument 2
add
push constant 78
push argument 1
add
push constant 100
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 101
push argument 2
add
push constant 13
push argument 1
add
push constant 101
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 101
push argument 2
add
push constant 81
push argument 1
add
push constant 101
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 102
push argument 2
add
push constant 13
push argument 1
add
push constant 102
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 102
push argument 2
add
push constant 83
push argument 1
add
push constant 102
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 103
push argument 2
add
push constant 13
push argument 1
add
push constant 103
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 70
push argument 1
add
push constant 103
push argument 2
add
push constant 85
push argument 1
add
push constant 103
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 104
push argument 2
add
push constant 12
push argument 1
add
push constant 104
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 69
push argument 1
add
push constant 104
push argument 2
add
push constant 87
push argument 1
add
push constant 104
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 105
push argument 2
add
push constant 11
push argument 1
add
push constant 105
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 68
push argument 1
add
push constant 105
push argument 2
add
push constant 88
push argument 1
add
push constant 105
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 106
push argument 2
add
push constant 10
push argument 1
add
push constant 106
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 67
push argument 1
add
push constant 106
push argument 2
add
push constant 88
push argument 1
add
push constant 106
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 107
push argument 2
add
push constant 9
push argument 1
add
push constant 107
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 65
push argument 1
add
push constant 107
push argument 2
add
push constant 88
push argument 1
add
push constant 107
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 108
push argument 2
add
push constant 9
push argument 1
add
push constant 108
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 64
push argument 1
add
push constant 108
push argument 2
add
push constant 88
push argument 1
add
push constant 108
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 109
push argument 2
add
push constant 8
push argument 1
add
push constant 109
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 63
push argument 1
add
push constant 109
push argument 2
add
push constant 88
push argument 1
add
push constant 109
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 110
push argument 2
add
push constant 7
push argument 1
add
push constant 110
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 63
push argument 1
add
push constant 110
push argument 2
add
push constant 88
push argument 1
add
push constant 110
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 111
push argument 2
add
push constant 6
push argument 1
add
push constant 111
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 28
push argument 1
add
push constant 111
push argument 2
add
push constant 28
push argument 1
add
push constant 111
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 62
push argument 1
add
push constant 111
push argument 2
add
push constant 87
push argument 1
add
push constant 111
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 112
push argument 2
add
push constant 5
push argument 1
add
push constant 112
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 27
push argument 1
add
push constant 112
push argument 2
add
push constant 29
push argument 1
add
push constant 112
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 62
push argument 1
add
push constant 112
push argument 2
add
push constant 87
push argument 1
add
push constant 112
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 113
push argument 2
add
push constant 4
push argument 1
add
push constant 113
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 25
push argument 1
add
push constant 113
push argument 2
add
push constant 31
push argument 1
add
push constant 113
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 42
push argument 1
add
push constant 113
push argument 2
add
push constant 48
push argument 1
add
push constant 113
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 62
push argument 1
add
push constant 113
push argument 2
add
push constant 87
push argument 1
add
push constant 113
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 114
push argument 2
add
push constant 3
push argument 1
add
push constant 114
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 24
push argument 1
add
push constant 114
push argument 2
add
push constant 32
push argument 1
add
push constant 114
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 40
push argument 1
add
push constant 114
push argument 2
add
push constant 47
push argument 1
add
push constant 114
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 61
push argument 1
add
push constant 114
push argument 2
add
push constant 88
push argument 1
add
push constant 114
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 115
push argument 2
add
push constant 2
push argument 1
add
push constant 115
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 22
push argument 1
add
push constant 115
push argument 2
add
push constant 47
push argument 1
add
push constant 115
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 61
push argument 1
add
push constant 115
push argument 2
add
push constant 90
push argument 1
add
push constant 115
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 116
push argument 2
add
push constant 1
push argument 1
add
push constant 116
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 21
push argument 1
add
push constant 116
push argument 2
add
push constant 47
push argument 1
add
push constant 116
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 117
push argument 2
add
push constant 0
push argument 1
add
push constant 117
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 20
push argument 1
add
push constant 117
push argument 2
add
push constant 45
push argument 1
add
push constant 117
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 19
push argument 1
add
push constant 118
push argument 2
add
push constant 44
push argument 1
add
push constant 118
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 119
push argument 2
add
push constant 0
push argument 1
add
push constant 119
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 17
push argument 1
add
push constant 119
push argument 2
add
push constant 43
push argument 1
add
push constant 119
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 120
push argument 2
add
push constant 1
push argument 1
add
push constant 120
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 16
push argument 1
add
push constant 120
push argument 2
add
push constant 44
push argument 1
add
push constant 120
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 121
push argument 2
add
push constant 3
push argument 1
add
push constant 121
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 15
push argument 1
add
push constant 121
push argument 2
add
push constant 46
push argument 1
add
push constant 121
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 122
push argument 2
add
push constant 5
push argument 1
add
push constant 122
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
push argument 1
add
push constant 123
push argument 2
add
push constant 7
push argument 1
add
push constant 123
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Flareon.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
