function Main.main 2
call SplashScreen.new 0
pop local 0
push local 0
call SplashScreen.run 1
pop temp 0
push local 0
call SplashScreen.dispose 1
pop temp 0
call Shock.new 0
pop local 1
push local 1
call Shock.run 1
pop temp 0
push local 1
call Shock.dispose 1
pop temp 0
push constant 0
return
