function Task.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push argument 0
pop this 1
push pointer 0
return
function Task.switchChecked 0
push argument 0
pop pointer 0
push this 0
not
pop this 0
push constant 0
return
function Task.getChecked 0
push argument 0
pop pointer 0
push this 0
return
function Task.getName 0
push argument 0
pop pointer 0
push this 1
return
