function Circle.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
call Circle.draw 1
pop temp 0
push pointer 0
return
function Circle.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Circle.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Circle.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Circle.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 5
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push this 0
push constant 1
sub
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.moveRight 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push constant 505
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push this 0
push constant 1
add
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.left 0
push argument 0
pop pointer 0
push this 0
push this 2
sub
return
function Circle.right 0
push argument 0
pop pointer 0
push this 0
push this 2
add
return
function Circle.top 0
push argument 0
pop pointer 0
push this 1
push this 2
sub
return
function Circle.bottom 0
push argument 0
pop pointer 0
push this 1
push this 2
add
return
