function HijackGame.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
call StartScreen.new 0
pop this 0
call FinishScreen.new 0
pop this 1
call ComputerPlayer.new 0
pop this 3
push this 3
call HumanPlayer.new 1
pop this 2
push pointer 0
return
function HijackGame.run 0
push argument 0
pop pointer 0
push this 0
call StartScreen.displayScreen 1
pop temp 0
push this 0
call StartScreen.waitForInput 1
pop temp 0
push this 0
call StartScreen.dispose 1
pop temp 0
push this 3
call ComputerPlayer.initialize 1
pop temp 0
push this 2
call HumanPlayer.run 1
pop temp 0
push this 2
call HumanPlayer.getPlayerWon 1
pop this 5
push this 3
call ComputerPlayer.getComputerWon 1
pop this 4
push this 1
push this 5
call FinishScreen.displayScreen 2
pop temp 0
push this 1
call FinishScreen.dispose 1
pop temp 0
push constant 0
return
function HijackGame.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
