function HumanPlayer.new 0
push constant 14
call Memory.alloc 1
pop pointer 0
push constant 4
pop this 0
push constant 0
pop this 1
push constant 0
pop this 2
push this 0
pop this 3
push this 0
pop this 4
push constant 130
pop this 8
push constant 133
pop this 10
push constant 132
pop this 9
push constant 131
pop this 11
push argument 0
pop this 13
push constant 0
not
pop this 12
push this 10
pop this 5
push pointer 0
return
function HumanPlayer.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function HumanPlayer.run 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
label WHILE_EXP0
push this 12
push this 13
call ComputerPlayer.getComputerWon 1
not
and
not
if-goto WHILE_END0
push this 13
call ComputerPlayer.move 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop this 7
push this 7
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
push this 8
eq
push this 5
push this 9
eq
and
push this 7
push this 9
eq
push this 5
push this 8
eq
and
or
push this 7
push this 10
eq
push this 5
push this 11
eq
and
or
push this 7
push this 11
eq
push this 5
push this 10
eq
and
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
goto IF_END1
label IF_FALSE1
push this 7
pop this 5
label IF_END1
label IF_FALSE0
push this 5
push this 9
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push this 0
add
pop this 3
push this 2
push this 0
add
pop this 4
push pointer 0
call HumanPlayer.hitWall 1
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push this 2
push this 3
push this 4
call Screen.drawRectangle 4
pop temp 0
goto IF_END3
label IF_FALSE3
push constant 0
pop this 12
push constant 0
return
label IF_END3
push this 1
push this 0
add
pop this 1
label IF_FALSE2
push this 5
push this 8
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push this 0
sub
pop this 1
push this 2
push this 0
add
pop this 4
push pointer 0
call HumanPlayer.hitWall 1
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
push this 2
push this 3
push this 4
call Screen.drawRectangle 4
pop temp 0
goto IF_END5
label IF_FALSE5
push constant 0
pop this 12
push constant 0
return
label IF_END5
push this 3
push this 0
sub
pop this 3
label IF_FALSE4
push this 5
push this 10
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
push this 0
add
pop this 3
push this 2
push this 0
add
pop this 4
push pointer 0
call HumanPlayer.hitWall 1
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 1
push this 2
push this 3
push this 4
call Screen.drawRectangle 4
pop temp 0
goto IF_END7
label IF_FALSE7
push constant 0
pop this 12
push constant 0
return
label IF_END7
push this 2
push this 0
add
pop this 2
label IF_FALSE6
push this 5
push this 11
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 2
push this 0
sub
pop this 2
push this 2
push this 0
add
pop this 4
push pointer 0
call HumanPlayer.hitWall 1
push constant 0
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 1
push this 2
push this 3
push this 4
call Screen.drawRectangle 4
pop temp 0
goto IF_END9
label IF_FALSE9
push constant 0
pop this 12
push constant 0
return
label IF_END9
label IF_FALSE8
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function HumanPlayer.hitWall 0
push argument 0
pop pointer 0
push this 1
push constant 511
gt
push this 3
push constant 511
gt
or
push this 2
push constant 255
gt
or
push this 4
push constant 255
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 1
push constant 0
lt
push this 3
push constant 0
lt
or
push this 2
push constant 0
lt
or
push this 4
push constant 0
lt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push constant 0
return
function HumanPlayer.getPlayerWon 0
push argument 0
pop pointer 0
push this 12
return
